* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
}

img {
  max-width: 100%;
  display: block;
}

table {
  width: 100%;
  border-collapse: collapse;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: black;
  font-size: 50px;
}

.calc {
  height: 500px;
  width: 300px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px 5px 5px;
  background-color: #c8bfc0;
}

.calc_display {
  width: 100%;
  height: 30%;
  border-radius: 10px;
  background-color: black;
  color: #fff;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.calc_display p {
  font-size: 40px;
  overflow: hidden;
}
.calc_numpad {
  margin-top: 8%;
  padding: 1px 5px;
  height: 65%;
  border-radius: 10px;
  background-color: #808080;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);
}

.numpad_row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin-top: 10px;
}
.btn {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  border: 3px solid #9bb2ba;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: 0.3s ease;
}

.btn.equals {
  width: 85%;
  grid-column: span 2;
  border-radius: 46px;
  background-color: #87ceea;
}

.btn:hover {
  background-color: #87ceea;
}
